/* ========================================== IMPORTS ========================================== */


@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);


/* ========================================== GENERAL ========================================== */


html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

body {
  margin-top: 50px;
  font-family: "Open Sans", "serif";
}

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
  font-family: "Arvo", "serif";
  text-transform: lowercase;
}

.h2, h2 {
  color: #DE5237;
  font-size: 190%;
}

.h3, h3 {
  color: #DE5237;
  font-size: 150%;
}

label {
  font-weight: 600;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.main-panel {
  padding-left: 30px;
}


/* ========================================== NAVBAR ========================================== */

.small-navbar {
  float: right !important;
  margin-right: -15px;
  padding-right: 10px;
  height: 50px;
  background: url('/static/img/wood_1.png');
  -webkit-border-radius: 0px 0px 25px 25px;
  -moz-border-radius: 0px 0px 25px 25px;
  border-radius: 0px 0px 25px 25px;
}

.navbar-logged-in {
  width: 255px;
}

.navbar-logged-out {
  width: 220px;
}

.navbar-nav>li>a {
  color: #63DBA5;
  padding: 15px 18px;
  font-family: "Arvo", "serif";
  text-transform: lowercase;
  font-size: 110%;
}

.navbar-nav>li>a:hover {
  background: transparent;
  color: #FF785E;
}

.navbar-nav {
  padding-right: 30px;
}

.navbar-fixed-top {
  border: 0;
}

.navbar-transparent {
  background: transparent;
  border: 0px;
}

.flashed-messages {
  font-weight: bold;
}


/* ========================================== SIDEBAR ========================================== */


/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.nav>li>a:hover {
  color: #FF785E;
  background: transparent;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 50px 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background: url('/static/img/wood_1.png');
    border-right: 0px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -20px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li {
  color: #fff;
  font-size: 100%;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 200%;
}

.nav>li>a {
  color: #63DBA5 !important;
  font-family: "Arvo", "serif";
  text-transform: lowercase;
  font-size: 120%;
}

.nav > li > a.link-active {
  color: #FF785E !important;
}

.my-account > li:hover {
  color: #FF785E;
}

.nav-sidebar > li.sidebar-note {
  line-height: 140%;
  padding-bottom: 10px;
  color: #FF785E;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #FF785E;
  background: transparent;
}

/* ========================================== MAIN CONTENT ========================================== */

hr {
  margin: -5px 0px 12px 0px;
  width: 200px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #9E9E9E, #fff);
}

.main .page-header {
  margin-top: 0;
}

#main-map { 
  height: 960px; 
  width: 100%; 
  margin-top:-50px; }

.temp-hidden {
  display: none;
}

.settings-section {
  padding-top: 20px;
}

.setting-label {
  font-weight: normal;
}


/* ========================================== PHOTOS ========================================== */


.thumbnail {
  width: 120px;
  height: 105px;
  background-size: 120px 105px;
  display: inline-block;
  background-position: center;
}

.remove-photo-container {
  margin: 4px;
  width: 18px;
  height: 18px;
  color: #F55656;
  border-radius: 25px;
  background-color: #fff;
}

span.remove-photo {
  margin-top: -2px;
  margin-left: -2px;
  color: #F55656;
  font-size: 160%;
  border-radius: 20px;
  cursor: pointer; 
  cursor: hand;
}

.photo-file-input {
    display: none;
}


/* ========================================== INFOWINDOW & CAROUSEL ========================================== */


span.glyphicon-earphone {
  font-size: 80%;
}

h4.org-phone {
  color: #0065cc;
  font-weight: bold;
}

.infowindow-photo {
  width: 200px;
}

.carousel-inner .item {
  width: 200px;
  background-color: #000000;
}

.carousel-indicators li {
  display: none;
}

#myCarousel {
  width: 200px;
}

#chart-toolbar {
  display: inline;
  padding-bottom: 20px;
}

.double-col-window {
  width: 500px;
}

.single-col-window {
  width: 270px;
}
.window-left {
  display: inline-block;
  padding-left: 10px;
  padding-right: 30px;
  width: 240px;
}

.window-right {
  display: inline-block;
  width: 260px;
  padding-left: 10px;
}

/* ========================================== FORMS ========================================== */


span.click-to-edit {
  color: #42A679;
}

#address-entry {
  cursor: pointer; 
  cursor: hand;
  padding: 0px 5px 0px 5px;
  color: #333;
  width: 100%;
}

.btn-success {
  background-color: #42A679;
  border-color: #419E74;
}

.btn-success:hover {
  background-color: #4CC28D;
  border-color: #45B583;
}

.btn-primary {
  background-color: #FF785E;
  border-color: #F06F56;
}

.btn-primary:hover {
  background-color: #FF8E78;
  border-color: #F58873;
}

.btn-group {
  margin: auto;
}


/* ========================================== FOOTER ========================================== */

footer {
  height: 200px;
}