{% extends "base.html" %}

{% block title %}Register for WildAlly
{% endblock %}

{% block sidebar %}

        <ul class="nav nav-sidebar">

            <li><a href="/settings">Account Settings</a></li>

            <li><a href="/photos">Photos</a></li>

            <li><a href="/analytics">Analytics</a></li>

        </ul>

{% endblock %}

  {% block content %} 

  {% if session['user_id'] == 'None' %}
    <p>You need to log in to see this page!</p>
  {% else %}

  
<div class="col-sm-7 col-lg-8">
    <center><h3>Your Marker's Clicks Over Time</h3></center>
    <div id='chart-toolbar' class="btn-toolbar" role="toolbar" aria-label="View Charts">
      <div class="btn-group" role="group" aria-label="View Charts">
        <button id="show-day" type="button" class="show-chart btn btn-default btn-success">View Today's Clicks</button>
        <button id="show-week" type="button" class="show-chart btn btn-default">View This Week's Clicks</button>
        <button id="show-month" type="button" class="show-chart btn btn-default">View This Month's Clicks</button>
      </div>
    </div>
    <div id='line-chart-container'>
        <canvas id="line-chart" width="750" height="380"></canvas>
    </div>
</div>

<div class="col-sm-2 col-lg-2">
    <div id='pie-chart-container'>
        <center>
            <h3>Filters</h3>
            <h4>Your Marker's Clicks</h4>
        </center>
        <canvas id="filters-pie" width="190" height="190"></canvas>
        <center><h4>All Wildally Clicks</h4></center>
        <canvas id="all-filters-pie" width="190" height="190"></canvas>
        <div id='filters-legend'></div>
    </div>
</div>


  {% endif %}
{% endblock %}

  
{% block javascript %}
<script src="/static/js/numeral/min/numeral.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<script src="/static/js/chart/Chart.js"></script>
<script>

    var lineChartElement = document.getElementById('line-chart');   
    var filtersPieElement = document.getElementById('filters-pie');
    var allFiltersPieElement = document.getElementById('all-filters-pie');

    var lineChart, pieChart;

    var monthChartLabels = [];
    var monthChartData = [];
    var weekChartLabels = [];
    var weekChartData = [];
    var dayChartLabels = [];
    var dayChartData = [];

    var allFiltersArrays = [];
    var monthFiltersArrays = [];
    var weekFiltersArrays = [];
    var dayFiltersArrays = [];

    var allAllFiltersArrays = [];
    var monthAllFiltersArrays = [];
    var weekAllFiltersArrays = [];
    var dayAllFiltersArrays = [];


    processChart();

</script>
{% endblock %}