<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} Title {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WildAlly
      </a>
    </div>
     <ul class="nav navbar-nav navbar-right">
      {% if session['username'] %}
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Logout</a></li>     
      {% else %}
          <li><a href="/new">Register</a><li>
          <li><a href="/login">Login</a><li>
{% endif %}
      </ul>
  </div>
</nav>

<body>

  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">

            <li><label for='address-entry'>Your location <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
                <input type='text' id='address-entry'></label></li>

            <li><label for='search-range'>Search for rehabilitators within
                <select>
                    <option value="10">10 miles</option>
                    <option value="25">25 miles</option>
                    <option value="50">50 miles</option>
                    <option value="100" selected="selected">100 miles</option>
                    <option value="200">200 miles</option>
                </select>
              </label></li>

              <li><button type="button" class="btn" id="submit-address">Search</button></li>


          </ul>
          <ul class="nav nav-sidebar">

                <li>Show only:</li>
                
                <li><label for='accepting-volunteers'>Rehabilitators accepting volunteers <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
                <input type='checkbox' class='map-filter-cb' id='accepting-volunteers' name='accepting-volunteers'></label></li>

                <li><label for='2-accepting-small-mammals'>Rehabilitators accepting small mammals <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
                <input type='checkbox' class='map-filter-cb' id='2-accepting-small-mammals' name='2-accepting-small-mammals'></label></li>

                <li><label for='3-accepting-large-mammals'>Rehabilitators accepting large mammals <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
                <input type='checkbox' class='map-filter-cb' id='3-accepting-large-mammals' name='3-accepting-large-mammals'></label></li>

                <li><label for='4-accepting-birds'>Rehabilitators accepting birds <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
                <input type='checkbox' class='map-filter-cb' id='4-accepting-birds' name='4-accepting-birds'></label></li>

                <li><label for='8-accepting-reptiles'>Rehabilitators accepting reptiles <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
                <input type='checkbox' class='map-filter-cb' id='8-accepting-reptiles' name='8-accepting-reptiles'></label></li>

                <li><label for='9-accepting-amphibians'>Rehabilitators accepting amphibians <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
                <input type='checkbox' class='map-filter-cb' id='9-accepting-amphibians' name='9-accepting-amphibians'></label></li>

          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %} 

  {% block content %} Content {% endblock %}

</div>
</div>
</div>

<script src="/static/other.js"></script>

</body>
</html>