<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} Title {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico" />
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WildAlly
      </a>
    </div>
     <ul class="nav navbar-nav navbar-right">
      {% if session['user_id'] %}
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Logout</a></li>     
      {% else %}
          <li><a href="/new">Register</a><li>
          <li><a href="/login">Login</a><li>
{% endif %}
      </ul>
  </div>
</nav>

<body>

  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          {% block sidebar %}

          {% endblock %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %} 

  {% block content %} Content {% endblock %}

</div>
</div>
</div>

<script src="/static/other.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>