<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} Title {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico" />
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
</head>

    <nav class="navbar navbar-transparent navbar-fixed-top">
      <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WildAlly
      </a>
    </div>

  {% if session['user_id'] %}
    <div class="small-navbar navbar-logged-in">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/settings">My Account</a></li>
          <li><a href="/logout">Logout</a></li>     
      </ul>
    </div>
  {% else %}
    <div class="small-navbar navbar-logged-out">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/new">Register</a><li>
          <li><a href="" data-toggle="modal" data-target="#login-modal">Login</a><li>
      </ul>
    </div>
  {% endif %}
      </ul>
    </div>
  </div>
</nav>

<body>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="login-label">Login to WildAlly</h4>
      </div>
      <div class="modal-body">
            <form action='/login-success' method="POST">
                <label for='username'>Username: 
                    <input type='text' name='username'>
                </label> 
                <label for='password'>Password: 
                    <input type='password' name='password'>
                </label> 
      </div>
      <div class="modal-footer">
          <input type='submit' class='btn btn-success' value='Log in!'>
            </form>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-2 sidebar">
          {% for message in get_flashed_messages() %}
            <div class="flashed-messages alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}</div>
          {% endfor %} 

          {% block sidebar %}

          {% endblock %}
        </div>
  {% block map %}
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2 main">

  {% block content %} Content {% endblock %}

</div>
  {% endblock %}
</div>
</div>

<script src="/static/js/other.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% block javascript %} Javascript {% endblock %}
</body>

</html>