{% extends "base.html" %}

{% block title %}WildAlly
{% endblock %}

{% block sidebar %}
          <ul class="nav nav-sidebar">

            <li class="sidebar-note"><h3 class="orange-text">Wildlife emergency?</h3><span class="orange-text">Find a wildlife rehabilitator near you.</span></li>

            <li style="padding-top: 13px;"><label for='address-entry'>
                <input type='text' id='address-entry'></label></li>

          </ul>
          <ul class="nav nav-sidebar">

                <li class="sidebar-note green-text"><b>Show only</b> wildlife rehabilitators who accept:</li>
                
                <li><label for='accepting-volunteers'><input type='checkbox' class='map-filter-cb' id='accepting-volunteers' name='accepting-volunteers'> &nbsp; Volunteers</label></li>

                <li><label for='2-accepting-small-mammals'><input type='checkbox' class='map-filter-cb' id='2-accepting-small-mammals' name='2-accepting-small-mammals'> &nbsp; Small mammals</label></li>

                <li><label for='3-accepting-large-mammals'><input type='checkbox' class='map-filter-cb' id='3-accepting-large-mammals' name='3-accepting-large-mammals'> &nbsp; Large mammals</label></li>

                <li><label for='4-accepting-birds'><input type='checkbox' class='map-filter-cb' id='4-accepting-birds' name='4-accepting-birds'> &nbsp; Birds</label></li>

                <li><label for='8-accepting-reptiles'><input type='checkbox' class='map-filter-cb' id='8-accepting-reptiles' name='8-accepting-reptiles'> &nbsp; Reptiles</label></li>

                <li><label for='9-accepting-amphibians'><input type='checkbox' class='map-filter-cb' id='9-accepting-amphibians' name='9-accepting-amphibians'> &nbsp; Amphibians</label></li>

          </ul>
{% endblock %}

  {% block map %} 
     <div id="main-map"></div>

    <!-- The async attribute lets the browser render everything else while the Maps API loads. When the API is ready, it will call the function using 'callback' -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeE_DvLcPVIOjHQu7Mvsi6b5SFgWXkhAs&libraries=places&callback=initMap">
    </script>
    <script src="/static/js/map.js"></script>

  {% endblock %}
