{% extends "base.html" %}

{% block title %}Manage Photos
{% endblock %}

  {% block navbarloggedin %}
    <div class="small-navbar navbar-logged-in">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Map</a></li>
          <li><a class="link-active" href="/settings">My Account</a></li>
          <li><a href="/logout">Logout</a></li>     
      </ul>
    </div>
  {% endblock %}

{% block sidebar %}

        <ul class="nav nav-sidebar my-account">

            <li><a href="/settings"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span> &nbsp; Settings</a></li>
            <li><a class="link-active" href="/photos"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> &nbsp; Photos</a></li>
            <li><a href="/analytics"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> &nbsp; Analytics</a></li>

        </ul>

{% endblock %}

  {% block content %} 

  {% if session['user_id'] == 'None' %}
    <p>You need to log in to see this page!</p>

  {% else %}

{% if filenames %}
<h3>Photos You've Uploaded:</h3>
{% for filename in filenames %}
<div id='thumb-{{ loop.index }}' class='thumbnail' style='background-image: url({{ root }}{{ filename }});'>
  <div id='remove-container-{{ loop.index }}' class='remove-photo-container'>
      <span id='remove-thumb-{{ loop.index }}' name={{ filename }} class="glyphicon glyphicon-remove-sign remove-photo" aria-hidden="true"></span>
  </div>
</div>
{% endfor %}

<p><i><b>Carousel preview:</b> this will display when your organization's map marker is clicked.</i></p>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
{% for number in range(1,file_count) %}
    <li data-target="#myCarousel" data-slide-to={{ number }}></li>
{% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" id='item-1'>
      <img src={{ root }}/{{ filenames[0] }}>
    </div>
    {% for filename in filenames[1:] %}
    <div class="item" id='item-{{ loop.index + 1 }}'>
      <img src={{ root }}/{{ filename }}>
    </div>
    {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br />
{% endif %}

<h4>Upload <span id='photo-filename-placeholder' style='display:none;'>a photo!</span><span id='photo-filename-span' style='color:#42A679; display:none;'></span></h4>
<form action="/_upload-photo" method="POST" id="photo-form" enctype="multipart/form-data">
  <div class="inline-block"><label class="btn btn-primary" for="photo">
      <input type="file" class="photo-file-input" name="photo" id="photo" style="display:none;">
      Select Photo
  </label>
  </div>
  <div class="inline-block">
      <input type="submit" value="Upload Photo" id="submit-photo" class="btn btn-success">
  </div>
</form>

{% endif %}
  {% endblock %}

{% block javascript %}
<script>

$(document).ready(function() {
    console.log( "ready!" );
    $("#photo-filename-placeholder").fadeIn(500);
});

</script>
{% endblock %}