{% extends "base.html" %}

{% block title %}Settings
{% endblock %}

{% block sidebar %}

        <ul class="nav nav-sidebar">

            <li><a href="/settings">Account Settings</a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/analytics">Analytics</a></li>

        </ul>

{% endblock %}

  {% block content %} 

<h4>Account</h4>

    <label for='username'>Username: <span id="current-username">{{ username }}</span>

        <input type='text' id='username' name='username' class='temp-hidden'>

        <button type="button" id="button-username" class="click-to-save temp-hidden btn btn-success btn-xs">Save</button>

        <span id="edit-username" class="glyphicon glyphicon-pencil click-to-edit" aria-hidden="true"></span>

        <span id='username-success'></span>
    </label><br />

    <label for='email'>Email: <span id="current-email">{{ email }}</span>

        <input type='text' id='email' name='email' class='temp-hidden'>

        <button type="button" id="button-email" class="click-to-save temp-hidden btn btn-success btn-xs">Save</button>

        <span id="edit-email" class="glyphicon glyphicon-pencil click-to-edit" aria-hidden="true"></span>

        <span id='email-success'></span>
    </label><br />

    <label for='password'>Password: <span id="current-password"></span>
        <span id="password-mock">**********</span>

        <input type='password' id='password' name='password' class='temp-hidden'>

        <button type="button" id="button-password" class="click-to-save temp-hidden btn btn-success btn-xs">Save</button>

        <span id="edit-password" class="glyphicon glyphicon-pencil click-to-edit" aria-hidden="true"></span>

        <span id='password-success'></span>
    </label><br />

{% if is_org == 1 %}
<h4>Organization</h4>

    <label for='org-name' class='org-field'>Organization name: <span id="current-org-name">{{ org_name }}</span> 

        <input type='text' id='org-name' name='org-name' class='temp-hidden'>

         <button type="button" id="button-org-name" class="click-to-save temp-hidden btn btn-success btn-xs">Save</button>

        <span id="edit-org-name" class="glyphicon glyphicon-pencil click-to-edit" aria-hidden="true"></span>

        <span id='org-name-success'></span>
    </label><br />

    <label for='ein' class='org-field'>EIN: <span id="current-ein">{{ ein }}</span>

        <input type='text' id='ein' name='ein' class="temp-hidden">

        <button type="button" id="button-ein" class="click-to-save temp-hidden btn btn-success btn-xs">Save</button>

        <span id="edit-ein" class="glyphicon glyphicon-pencil click-to-edit" aria-hidden="true"></span>

        <span id='ein-success'></span>
    </label><br />

    <label for='desc' class='org-field'>Description: <span id="current-desc">{{ desc }}</span>

        <input type='text' id='desc' name='desc' class='temp-hidden'>

        <button type="button" id="button-desc" class="click-to-save temp-hidden btn btn-success btn-xs">Save</button>

        <span id="edit-desc" class="glyphicon glyphicon-pencil click-to-edit" aria-hidden="true"></span>

        <span id='desc-success'></span>
    </label><br />

<h4>Location</h4>
<label>Address 

<span id="edit-address" class="glyphicon glyphicon-pencil click-to-edit" aria-hidden="true"></span>

<span id='address-success'></span><br />

{% if address1 %}
    <span id="current-address1" class="current-address">{{ address1 }}</span>
{% else %}
    <span id="current-address1" class="current-address"></span>
    <span class="current-address">------</span>
{% endif %}

        <input type='text' id='address1' name='address1' class='address-field temp-hidden'>
    <br />

{% if address2 %}
    <span id="current-address2" class="current-address">{{ address2 }}</span>
{% else %}
    <span id="current-address2" class="current-address"></span>
    <span class="current-address">------</span>
{% endif %}

        <input type='text' id='address2' name='address2' class='address-field temp-hidden'>
    <br />

    <span id="current-city" class="current-address">{{ city }}</span><input type='text' id='city' name='city' class='address-field temp-hidden'>,

    <span id="current-state" class="current-address">{{ state }}</span>

        <select name='state' id='state' class='address-field temp-hidden'>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
    </select>

    <span id="current-zipcode" class="current-address">{{ zipcode }}</span>

        <input type='text' id='zipcode' name='zipcode' class='address-field temp-hidden'>
    <br />

<!-- <label for='is-org' class='org-field'> -->
        <span class='address-field temp-hidden'>Do you want your organization's full address to show in search results?<br /></span>
        {% if show_address == 1 %}
        <span id="current-show_address" class="current-address"><i>Your full address <b>is</b> shown on the map.</i></span>
        <input type='radio' class='address-field temp-hidden' name='show_address' value='1' checked='checked'> 
            <span class='address-field temp-hidden'>Yes</span>
        <input type='radio' class='address-field temp-hidden' name='show_address' value='0'> 
            <span class='address-field temp-hidden'>No, show only my city</span>
        {% else %}
        <span id="current-show_address" class="current-address"><i>Your full address <b>is not</b> shown on the map.</i></span>
        <input type='radio' class='address-field temp-hidden' name='show_address' value='1'> 
            <span class='address-field temp-hidden'>Yes</span>
        <input type='radio' class='address-field temp-hidden' name='show_address' value='0' checked='checked'> 
            <span class='address-field temp-hidden'>No, show only my city</span>
        {% endif %}

        <span id='show_address-success'></span>
        <br />

    <button type="button" id="button-address" class="click-to-save temp-hidden btn btn-success btn-xs">Save</button>


</label>


<h4>Contacts</h4>

    <label for='phone' class='org-field'>Organization phone: <span id="current-phone">{{ phone }}</span>

        <input type='text' id='phone' name='phone' class='temp-hidden'>

        <button type="button" id="button-phone" class="click-to-save temp-hidden btn btn-success btn-xs">Save</button>

        <span id="edit-phone" class="glyphicon glyphicon-pencil click-to-edit" aria-hidden="true"></span>

        <span id='phone-success'></span>
    </label><br />

    <label for='org-email' class='org-field'>Organization email: <span id="current-org-email">{{ org_email }}</span>

        <input type='text' id='org-email' name='org-email' class='temp-hidden'>

        <button type="button" id="button-org-email" class="click-to-save temp-hidden btn btn-success btn-xs">Save</button>

        <span id="edit-org-email" class="glyphicon glyphicon-pencil click-to-edit" aria-hidden="true"></span>

        <span id='org-email-success'></span>
    </label><br />

    <label for='website' class='org-field'>Organization website: <span id="current-website">{{ website }}</span>

        <input type='text' id='website' name='website' class='temp-hidden'>

        <button type="button" id="button-website" class="click-to-save temp-hidden btn btn-success btn-xs">Save</button>

        <span id="edit-website" class="glyphicon glyphicon-pencil click-to-edit" aria-hidden="true"></span>

        <span id='website-success'></span>
    </label><br />


    {% endif %}
  {% endblock %}
