<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} Title {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WildAlly
      </a>
    </div>
     <ul class="nav navbar-nav navbar-right">
      {% if session['username'] %}
          <li><a href="/logout">Logout</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span></li>      {% else %}
          <li><a href="/new">Register</a><li>
          <li><a href="/login">Login</a><li>
          <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span></li>
{% endif %}
      </ul>
  </div>
</nav>

  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %} 

  {% block content %} Content {% endblock %}

</div>
</div>
</div>


</body>
</html>